VITE_SUPABASE_URL=https://ncopbcgghieoucavcanj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jb3BiY2dnaGllb3VjYXZjYW5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MDczMTQsImV4cCI6MjA4OTI4MzMxNH0.HB9pjFrQBph9W9Lk6gOmcVHznkjsFRLp1IXTczdnFEs
